.etm-vis {
  padding: 1em;
  display: flex;
  -webkit-box-flex: 1;
  flex: 1 1 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
}