<div class="form-group">
  <label class="etm-options-section">
    Points of Interest Layers
    <kbn-info info="Overlay the results of a saved search on the map as colored markers."></kbn-info>
  </label>
  <ul draggable-container="layers" class="etm-options-list">
    <li ng-repeat="layer in layers" draggable-item="layer" class="etm-option-item">
      <div class="btn-group rightCorner">
        <!-- drag handle -->
        <button draggable-handle ng-show="layers.length > 1" aria-label="Modify Priority by Dragging"
          tooltip="Modify Priority by Dragging" tooltip-append-to-body="true" type="button"
          class="kuiButton kuiButton--basic kuiButton--small">
          <i aria-hidden="true" class="fa fa-arrows-alt-v"></i>
        </button>
        <button class="btn btn-xs btn-danger" ng-click="removeLayer($index)">
          <i class="fa fa-times"></i>
        </button>
      </div>
      <label>POI Layer {{$index + 1}}</label>
      <saved-search layer="layer"></saved-search>
    </li>
  </ul>
  <button class="btn btn-xs btn-success" ng-click="addLayer()">
    <i class="fa fa-plus"></i> <span>POI Layer</span>
  </button>
</div>