<div class="form-group saved-search">
  
  <div class="form-group">
    <label>
      Layer Name <kbn-info info="Layer name displayed in map layer control."></kbn-info>
    </label>
    <input type="text" class="form-control" ng-model="layer.displayName" name="displayName">
  </div>
  
  <div class="form-group">
    <label>
      Saved Search
    </label>
    <p>
      {{warn}}
    </p>
    <input placeholder="Filter Saved Searches" class="form-control" ng-model="layer.filter"
      ng-change="filterSavedSearches()" ng-model-options="{debounce:750}" />
    <select required class="form-control" ng-change="updateIndex()" ng-model="savedSearch"
      ng-options="item.label for item in items">
    </select>
  </div>

  <div class="form-group" ng-if="savedSearch">
    <div class="form-group">
      <label>
        Geospatial Field
      </label>
      <select required class="form-control" ng-model="layer.geoField" ng-options="item for item in geoFields">
      </select>
    </div>
    <div class="form-group">
      <label>
        Styling
      </label>
      <input minicolors ng-model="layer.color" type="text" class="form-control" name="color" />
      <select ng-model="layer.markerSize" class="form-control marker-size">
        <option value="xs">xs</option>
        <option value="s">s</option>
        <option value="m">m</option>
        <option value="l">l</option>
        <option value="xl">xl</option>
      </select>
    </div>

    <div class="form-group" >
      <label>Popup Content</label>
        <ui-select multiple ng-model="layer.popupFields" ng-disabled="ctrl.disabled" sortable="true"
          close-on-select="false">
          <ui-select-match placeholder="Click to select POI popup field(s)...">{{$item.name}}</ui-select-match>
          <ui-select-choices repeat="fieldLabel in labelFields | filter: {name: $select.search}">
            <div ng-bind-html="fieldLabel.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
    </div>

    <div class="form-group">
      <label>
        Limit (max. 1000)
      </label>
      <input class="form-control" type="number" min="1" max="1000" placeholder="1000" ng-model="layer.limit" />
    </div>
    <div class="form-group">
      <label>
        <input type="checkbox" name="syncFilters" ng-model="layer.syncFilters">

        Apply Filters

        <kbn-info
          info="Filter Saved Search results with time range, search query, and filters of your application. The layer will be updated each time a new aggregation is made.">
        </kbn-info>
      </label>
    </div>
  </div>
</div>