<div class="form-group">
  <div class="form-group">
    <label>Tooltip Formatter</label>
    <select
      class="form-control"
      ng-model="tooltip.type">
      <option value="metric">Metric Value</option>
      <option value="search">Search</option>
      <option value="visualization">Visualization</option>
    </select>
  </div>
  <div class="form-group" ng-if="tooltip.type === 'search'">
    <p>Saved search tooltip no longer supported. Kibana 5.5 changes broke this feature</p>
    <!--<input class="form-control"
      placeholder="Filter searches list"
      ng-model="tooltip.options.searchFilter"
      ng-change="filterSearchList()"
      ng-model-options="{debounce:750}">
    <select required class="form-control"
      ng-model="tooltip.options.searchId"
      ng-options="search.id as search.label for search in searchList">
    </select>-->
  </div>
  <div class="form-group" ng-if="tooltip.type === 'visualization'">
    <input class="form-control"
      placeholder="Filter visualization list"
      ng-model="tooltip.options.visFilter"
      ng-change="filterVisList()"
      ng-model-options="{debounce:750}">
    <select required class="form-control"
      ng-model="tooltip.options.visId"
      ng-options="vis.id as vis.label for vis in visList">
    </select>
  </div>
  <div class="form-group" ng-if="tooltip.type !== 'metric'">
    <label class="side-by-side">
      Width <kbn-info info="Specify the popup width as a percentage of the map width."></kbn-info>
      <select class="form-control form-control-inline"
        ng-model="tooltip.options.xRatio"
        ng-options="option.value as option.text for option in popupDimensionOptions">
      </select>
    </label>
    <label class="side-by-side">
      Height <kbn-info info="Specify the popup height as a percentage of the map height."></kbn-info>
      <select class="form-control form-control-inline"
        ng-model="tooltip.options.yRatio"
        ng-options="option.value as option.text for option in popupDimensionOptions">
      </select>
    </label>
  </div>
  <div class="form-group">
    <label>
      <input type="checkbox"
        ng-model="tooltip.closeOnMouseout">
      Close tooltip on mouseout
    </label>
  </div>
</div>
