<div class="form-group">
  <div class="vis-option-item form-group">
    <label>
      Layer Name <kbn-info info="Layer name displayed in map layer control."></kbn-info>
    </label>
    <input type="text" class="form-control"
      ng-model="layer.displayName"   
      name="displayName">
  </div>
  <div class="vis-option-item form-group">
    <label>
      Url
    </label>
    <input required type="text" class="form-control"
      name="url"
      ng-model="layer.url">    
  </div>
  <div class="vis-option-item form-group">
    <label>
      Layers <kbn-info info="A comma seperated list of layers to use."></kbn-info>
    </label>
    <input required type="text" class="form-control"
      ng-model="layer.layers"   
      name="layer.layers">
  </div>
  <div class="vis-option-item form-group">
    <label>
      CQL Filter
    </label>
    <input type="text" class="form-control"
      ng-model="layer.cqlFilter"   
      name="layer.cqlFilter">
  </div>
  <div class="vis-option-item form-group side-by-side">
    <label>
      Min Zoom Level <kbn-info info="WMS layer will only be active when the map zoom level is at or below this value."></kbn-info>
    </label>
    <select class="form-control" ng-model="layer.minZoom"
      ng-options="zoomLevel for zoomLevel in zoomLevels"></select>
  </div>
  <div class="vis-option-item form-group side-by-side">
    <label>
      Max Features <kbn-info info="Sets a limit on the amount of features rendered per tile."></kbn-info>
    </label>
    <input type="number" min="1" class="form-control"
      placeholder="1000" 
      ng-model="layer.maxFeatures"   
      name="layer.maxFeatures">
  </div>
  <div class="vis-option-item form-group">
    <label>
      Styles
    </label>
    <input type="text" class="form-control"
      ng-model="layer.styles"
      name="layer.styles">
  </div>
  <div>
    <label class="etm-well-section">
      Elasticsearch WMS Options <kbn-info info="WMS layers served from elasticsearch via elasticgeo/geoserver allow for greater integration with elasticsearch queries and aggregations."></kbn-info>
    </label>
  </div>
  <div class="vis-option-item form-group">
    <label>
      Aggregation <kbn-info info="Generate WMS layer from geohash_grid aggregation results. To use, properly configure geoserver by creating a SLD style containing a vec:GeoHashGrid rendering transformation. See elasticgeo documenation for details."></kbn-info>
    </label>
    <textarea class="form-control"
      ng-model="layer.agg"
      name="layer.agg"></textarea>
  </div>
  <div class="vis-option-item form-group">
    <label>
      <input type="checkbox"
      name="viewparams"
      ng-model="layer.viewparams">

      Sync Kibana Filters

      <kbn-info info="When true, kibana filters are sent to the WMS server resulting in tiles that reflect the time range, search query, and filters of your kibana application. Requires WMS to be served from an elasticsearch Store."></kbn-info>
    </label>
  </div>
  <div class="form-group" ng-show="layer.viewparams">
    <label>
      WMS Index Pattern
      <kbn-info info="Select an Index Pattern to use for constructing Kibana Filters.
      This mainly affects the time filter field name. The visualization Index
      Pattern is used when not set"></kbn-info>
    </label>
    <select class="form-control" ng-model="layer.indexId" ng-options="indexId for indexId in indexPatternList">
    </select>
  </div>
</div>